{% extends 'layouts/main-layout.html' %} {% block content %}
<div class="page-heading">
  <div class="page-title">
    <div class="row">
      <div class="col-12 col-md-6 order-md-1 order-last">
        <h3>Notifications</h3>
      </div>
      <div class="col-12 col-md-6 order-md-2 order-first">
        <nav
          aria-label="breadcrumb"
          class="breadcrumb-header float-start float-lg-end"
        >
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Notifications
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between my-2 gap-2">
          {% if page_object %}
            <a 
                class="btn btn-sm align-items-center justify-content-center text-white mb-2 "
                style="background-color: #9694ff !important;"
                hx-post="{% url 'notifications:mark_all_as_read' %}"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-trigger="click"
                hx-swap="none"
                onclick="removeUnreadDotsInContent()"
            >   Mark all as read
            </a>
          {% endif %}

          <input
            name="search_text"
            type="search"
            class="dataTable-input"
            autocomplete="off"
            placeholder="Search here..."
            hx-get="{% url 'notifications:search' page_object.number %}"
            hx-trigger="keyup changed delay:500ms, search"
            hx-target="#search_result"
          />
        </div>

        <table class="table table-hover table-striped" id="table1">
          <thead>
            <tr>
              <th></th>
              <th>Sl No.</th>
              <th>Title</th>
              <th>Description</th>
              <th>Updated By</th>
              <th>Datetime</th>
              <th>View</th>
            </tr>
          </thead>
          {% if page_object %}
          <tbody id="search_result">
            {% for user_notification in page_object %}

            <tr>
              <td>
                {% if not user_notification.is_seen %}
                <div
                  class="unread-dot"
                  style="
                    display: inline-block !important;
                    width: 10px !important;
                    height: 10px !important;
                    margin-right: 8px !important;
                    border-radius: 50% !important;
                    background-color: #435ebe !important;
                    font-weight: bold !important;
                    box-shadow: 0 0 2px #435ebe !important;
                    vertical-align: middle !important;
                  "
                ></div>
                {% endif %}
              </td>

              <td>{{page_object.start_index|add:forloop.counter0}}</td>

              <td>
                <span
                  ><i
                    class="bi {{user_notification.notification.icon}} bi-sub fs-4 text-muted pe-2"
                  ></i></span
                >{{user_notification.notification.notification_title | title}}
              </td>
              <td>{{user_notification.notification.notification_text}}</td>
              <td>{{user_notification.notification.updated_by}}</td>
              <td>{{user_notification.notification.created_at}}</td>
              <td>
                <div
                  class="btn-group btn-group-sm"
                  role="group"
                  aria-label="Basic example"
                >
                  {% if user_notification.notification.link is not None %}
                  <a class="btn btn-success" onclick="location.href='{{user_notification.notification.link}}';"
                    hx-post="{% url 'notifications:seen' user_notification.id %}"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    hx-trigger="click"
                  ><i class="bi bi-eye-fill"></i></a>
                  {% else %}
                  <button class="btn btn-danger">
                    <i class="bi bi-eye-fill"></i>
                  </button>
                  {% endif %}
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          {% else %}
          <div class="alert alert-info" role="alert">No record available!</div>
          {% endif %}
        </table>
        {% include 'commons/pagination.html' %}
      </div>
    </div>
  </section>
</div>

<script>
    function removeUnreadDotsInContent() {
        document.querySelectorAll('.unread-dot').forEach(dot => dot.remove());
    }
</script>
{% endblock content%}
