{% load static %}
<link rel="stylesheet" href="{% static '/assets/css/main/app-dark.css' %}">

<style>
    .mark-all-as-read {
        width: 100%;
    }
    .mark-all-as-read .btn {
        width: 100%;
        display: block;
    }
    
</style>

{% for user_notification in notifications %}
    <li>
        <div class="dropdown-item d-flex p-2 alert alert-dismissible show fade xyz" style="cursor: pointer;">

            <i class="bi {{user_notification.notification.icon}} fs-3 ps-2 pe-4"></i>
            <div 
                 
                class="justify-content-between px-3"
                {% if user_notification.notification.link is not None %}
                    onclick="location.href='{{user_notification.notification.link}}';" 
                    hx-post="{% url 'notifications:seen' user_notification.id %}"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    hx-trigger="click"
                {% endif %}
            >
                <div class="d-flex flex-start gap-2" style="flex-direction: column;">
                    <div class="d-flex align-items-center justify-content-between">
                        <strong class="fs-6">{{user_notification.notification.notification_title}}</strong>
                        {% if not user_notification.is_seen %}<div class="unread-dot"></div>{% endif %}
                    </div>

                    <small>{{ user_notification.notification.created_at|date:"F j, Y, g:i A" }}</small>
                </div>
                <small style="text-wrap: wrap;">{{user_notification.notification.notification_text}}</small> 
            </div>
        </div>
    </li>
{% endfor %}
    
{% if notifications  %}
    <li>
        <div class="p-3 d-flex flex-column">
            {% with notifications|length as notification_count %}
                {% if notification_count >= 2 %}
                    <a 
                        class="btn btn-sm align-items-center justify-content-center text-white mb-2 mark-all-as-read-notification"
                        hx-post="{% url 'notifications:mark_all_as_read' %}"
                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                        hx-trigger="click"
                        hx-swap="none"
                        onclick="removeUnreadDots()"
                    >
                        Mark all as read
                    </a>
                {% endif %}
            {% endwith %}

            
            <a 
                href="{% url 'notifications:list' %}" 
                class="btn text-center see-all-notifications btn-sm" >
                <span>See all Notifications</span>
            </a>
            

        </div>
    </li>
    {% else %}
     <div class="p-3 d-flex flex-column align-items-center">No notifications are available</div>     
{% endif %}

<script>
    function removeUnreadDots() {
        document.querySelectorAll('.unread-dot').forEach(dot => dot.remove());
    }
</script>
