{% if notifications %}
    <li class="d-flex justify-content-between px-4 py-1 ">
        <a href="{% url 'notifications:list' %}" class="btn btn-sm btn-primary">See All</a>
        <a 
            class="btn btn-sm btn-danger"
            hx-post="{% url 'notifications:clear' %}"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-trigger="click"
        >Clear All</a>
    </li>
{% endif %}

{% if notifications %}

    {% for user_notification in notifications %}
        <li class="m-2 rounded">
            <div class="dropdown-item d-flex p-2 alert alert-dismissible show fade" style="cursor: pointer;">
                <div><i class="bi {{user_notification.notification.icon}} fs-2 text-muted"></i></div>
                <div  
                    class="justify-content-between px-3"
                    {% if user_notification.notification.link is not None %}
                        onclick="location.href='{{user_notification.notification.link}}';" 
                        hx-post="{% url 'notifications:seen' user_notification.id %}"
                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                        hx-trigger="click"
                    {% endif %}
                >
                    <div class="d-flex flex-start gap-3">
                        <strong class="fs-6" >{{user_notification.notification.notification_title}}</strong>
                        <small>{{user_notification.notification.created_at}}</small>
                    </div>
                    <small>{{user_notification.notification.notification_text}}</small> 
                </div>
                <button 
                    hx-post="{% url 'notifications:seen' user_notification.id %}"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    hx-trigger="click"
                    class="btn-close btn-sm p-1 m-2"
                    data-bs-dismiss="alert"
                    aria-label="Close">
                </button>
            </div>
        </li>
    {% endfor %}
    
{% if notifications  %}
    <li>
        <div class="p-3 d-flex flex-column">
            {% with notifications|length as notification_count %}
                {% if notification_count >= 2 %}
                    <a 
                        class="btn btn-sm align-items-center justify-content-center text-white mb-2"
                        style="background-color: #9694ff !important;"
                        hx-post="{% url 'notifications:mark_all_as_read' %}"
                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                        hx-trigger="click"
                        hx-swap="none"
                        onclick="removeUnreadDots()"
                    >
                        Mark all as read
                    </a>
                {% endif %}
            

            {% if notification_count >= 5 %}
                <a 
                    href="{% url 'notifications:list' %}" 
                    class="btn text-center see-all-notifications btn-sm" 
                    style="
                        background-color: #435ebe !important;
                        color: white !important;
                        padding: 0.375rem 0.75rem;
                        border: none;
                        border-radius: 0.25rem;
                        font-size: 0.875rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;"
                >
                    <span>See all Notifications</span>
                </a>
            {% endif %}
            {% endwith %}

        </div>
    </li>
    {% else %}
    <div class="p-3">
        <li>No notifications available</li>
    </div>
{% endif %}


<script>
    function removeUnreadDots() {
        document.querySelectorAll('.unread-dot').forEach(dot => dot.remove());
    }
</script>
