<div class="modal-content">
    <div class="modal-header bg-dark text-center">
        <h5 class="modal-title white w-100" id="myModalLabel160">{{modal_title}}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close">
        </button>
    </div>
    <form hx-post="{{request.path}}" novalidate>
        {% csrf_token %}
        <div class="modal-body">
            <div class="form-group">
                <label for="first-name-column">Department Name</label>
                {{form.name}}
                {% for error in form.name.errors %}
                <small class="text-danger mb-3">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="email-id-column">Contact Person Name</label>
                {{form.contact_person_name}}
                {% for error in form.contact_person_name.errors %}
                <small class="text-danger mb-3">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="email-id-column">Contact Person Email</label>
                {{form.contact_person_email}}
                {% for error in form.contact_person_email.errors %}
                <small class="text-danger mb-3">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="email-id-column">Contact Person Number</label>
                {{form.contact_person_phone}}
                {% for error in form.contact_person_phone.errors %}
                <small class="text-danger mb-3">{{ error }}</small>
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-light-secondary"
                data-bs-dismiss="modal">
                <i class="bx bx-x d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Close</span>
            </button>
            <button type="submit" class="btn btn-sm btn-info ml-1"
                onclick="this.innerHTML = `<span class='spinner-grow spinner-grow-sm' role='status' aria-hidden='true'></span> Saving...`;"
            >
                <i class="bx bx-check d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Save</span>
            </button>
        </div>
    </form>
</div>
<script>
    htmx.on("htmx:beforeSwap", (e) => {
        if (
            (e.detail.target.id == "add-department-modal-content" || e.detail.target.id == "update-department-modal-content") && !e.detail.xhr.response){
                location.reload();
        }
    });
</script>