{% extends 'layouts/main-layout.html' %}
{% block content %}
<div class="page-heading">
    <div class="d-flex justify-content-between">
        <div class="page-title">
            <h3 class="page-name">
                {% if not configurations %}Add Tag Configuration{% else %}Update Tag Configuration{% endif %}
            </h3>
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end d-none d-md-block">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item" aria-current="page">Configurations</li>
                    <li class="breadcrumb-item active" aria-current="page">
                        {% if not configurations %}Add Tag Configurations{% else %}Update Tag Configurations{% endif %}
                    </li>
                </ol>
            </nav>
            <div>
                <a href="{% url 'configurations:list_tag' %}" class="btn btn-sm btn-outline-info my-3">Back to Configuration List</a>
            </div>
        </div>
    </div>
    <section class="section">
        <form class="form row" 
              action="{% if is_update %}{% url 'configurations:update_tag_configuration' configurations.id %}{% else %}{% url 'configurations:update_tag_configuration_without_id' %}{% endif %}" 
              method="POST" novalidate>
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <button type="submit" class="btn btn-sm btn-info float-end">
                        {% if is_update %}Update{% else %}Create{% endif %}
                    </button>
                </div>
                <div class="card-body">
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for err in form.non_field_errors %}
                                <li>{{ err }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <label for="id_prefix">Tag Prefix</label>
                            {{ form.prefix }}
                            {% for error in form.prefix.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="col-md-6 col-12">
                            <label for="id_number_suffix">Tag Suffix</label>
                            {{ form.number_suffix }}
                            {% for error in form.number_suffix.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-12 form-check">
                            {{ form.use_default_settings }}
                            <label for="id_use_default_settings" class="form-check-label">Use This As Default Settings</label>
                            {% for error in form.use_default_settings.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock %}

