{% extends 'layouts/main-layout.html' %}
{% block content %}
<div class="page-heading">
    <div class="d-flex justify-content-between">
        <div class="page-title">
            <h3 class="page-name">
                {{ trans.page_title }}
            </h3>
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end d-none d-md-block">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">{{ trans.dashboard }}</a></li>
                    <li class="breadcrumb-item" aria-current="page">{{ trans.configurations }}</li>
                    <li class="breadcrumb-item active" aria-current="page">
                        {{ trans.localizations }}
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <section class="section">
        <form class="form row" 
              action="{% url 'configurations:create_localization_configuration' %}"
              method="POST" novalidate>
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for err in form.non_field_errors %}
                                <li>{{ err }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="row p-2">
                        <div class="btn-group mt-1">
                            <p style="width: 250px;"><b>{{ trans.default_language }}</b></p>
                            <select name="language-format" class="form-control w-100" style="margin-right: 20px;">
                                {% for code, name in default_language %}
                                    <option value="{{ code }}" {% if get_default_language.id == code %}selected{% endif %}>{{ name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="btn-group mt-4">
                            <p style="width: 250px;"><b>{{ trans.name_display_format }}</b></p>
                            <select name="name-format" class="form-control w-100" style="margin-right: 20px;">
                                {% for code, name in name_display_format %}
                                    <option value="{{ code }}" {% if get_default_name_display_format.id == code %}selected{% endif %}>{{ name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="btn-group mt-4">
                            <p style="width: 250px;"><b>{{ trans.time_and_date_display }}</b></p>
                            <select name="time-format" class="form-control w-100 w-2" style="margin-right: 20px;">
                                {% for code, name in datetime_choices %}
                                    <option value="{{ code }}" {% if get_default_time_format.id == code %}selected{% endif %}>{{ name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="btn-group mt-4">
                            <p style="width: 250px;"><b>{{ trans.default_currency }}</b></p>
                            <select name="currency-format" class="form-control w-100 w-2" style="margin-right: 20px;">
                                {% for code, name in currency_choices %}
                                    <option value="{{ code }}" {% if get_default_currency_format.id == code %}selected{% endif %}>{{ name }} 1234.55</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="d-flex justify-content-end gap-3 p-4" style="padding-right: 20px;">
                            <button type="button" class="btn btn-sm btn-danger" style="width: 100px;">{{ trans.cancel }}</button>
                            <button type="submit" class="btn btn-sm btn-info" style="width: 100px;">{{ trans.save }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock %}