{% extends 'layouts/main-layout.html' %}

{% block content %}
<style>
a.disabled {
    pointer-events: none;
    color: gray !important; /* Or any muted color */
    opacity: 0.5;
    cursor: default;
    text-decoration: none;
}
</style>

<div class="page-heading">
    <div class="d-flex justify-content-between">
        <div class="page-title">
            <h3 class="page-name">Extensions</h3>
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end d-none d-md-block">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item" aria-current="page">Extensions</li>
                    <li class="breadcrumb-item active" aria-current="page">Slack</li>
                </ol>
            </nav>
        </div>
    </div>
    <section class="section row">
            <div class="col-12 col-md-6 col-lg-4 m-3">
                <div class="card p-3 h-75 w-100 p-2">
                    <div class="d-flex justify-content-between w-100 p-2">
                        <h4 class="mb-3">{{ integration_choices.entity_name }} Configurations</h4>
                        <div class="d-flex justify-content-end gap-2">
                            {% if integration_choices.status == 0 %}
                                <a id="slack-integration-btn-{{ forloop.counter }}"
                                    type="button"
                                    class="btn bg-transparent disabled"
                                    href="{% url 'configurations:integration' %}">
                                    <i class="bi bi-gear"></i>
                                </a>
                            {% else %}
                                <a id="slack-integration-btn-{{ forloop.counter }}"
                                    type="button"
                                    class="btn bg-transparent"
                                    href="{% url 'configurations:integration' %}">
                                    <i class="bi bi-gear"></i>
                                </a>
                            {% endif %}
                            {% if integration_choices.status == 0 %}
                            <div class="form-check form-switch">
                                <input
                                    name="status"
                                    class="form-check-input"
                                    type="checkbox"
                                    role="switch"
                                    hx-post="{% url 'configurations:extension_status' integration_choices.id %}"
                                    hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
                                    id="flexSwitchCheckDefault-{{ forloop.counter }}"
                                    unchecked
                                    style="cursor: pointer;"
                                >
                            </div>
                            {% else %}
                            <div class="form-check form-switch">
                                <input
                                    name="status"
                                    class="form-check-input"
                                    type="checkbox"
                                    role="switch"
                                    hx-post="{% url 'configurations:extension_status' integration_choices.id %}"
                                    hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
                                    id="flexSwitchCheckDefault-{{ forloop.counter }}"
                                    checked
                                    style="cursor: pointer;"
                                >
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="mb-3 text-center d-flex gap-5 p-3">
                        {% if add_path_context.logo %}
                            <img src="https://media.designrush.com/inspirations/343049/conversions/slack_logo-preview.jpg"
                                 alt="logo_image"
                                 class="img-fluid"
                                 style="max-height: 90px;">
                            <a class="btn btn-sm btn-danger ms-2"
                               href="{% url 'configurations:delete_logo' add_path_context.id %}">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        {% else %}
                            <img src="https://media.designrush.com/inspirations/343049/conversions/slack_logo-preview.jpg"
                                 alt="logo_image"
                                 class="img-fluid"
                                 style="max-height: 90px;">
                        {% endif %}
                        <span class="p-1">{{ integration_choices.description }}</span>
                    </div>
                </div>
            </div>
       
    </section>
</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const toggles = document.querySelectorAll(".form-check-input");

    toggles.forEach((toggle, index) => {
        const slackBtn = document.getElementById(`slack-integration-btn-${index + 1}`);

        toggle.addEventListener("change", function() {
            if (this.checked) {
                slackBtn.classList.remove("disabled");
            } else {
                slackBtn.classList.add("disabled");
            }
        });
    });
});
</script>
{% endblock %}
