{% extends 'layouts/main-layout.html' %}
{% block content %}
<div class="page-heading">
    <div class="d-flex justify-content-between">
        <div class="page-title">
            <h3 class="page-name">Update Tag Configuration</h3>
        </div>
        <div>
            <a href="{% url 'configurations:list_tag' %}" class="btn btn-sm btn-outline-info my-3">Back to Configuration List</a>
        </div>
    </div>

    <section class="section">
        <form class="form row" action="{% url 'configurations:update_tag_configuration' configurations.id %}" method="POST" novalidate>
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <button type="submit" class="btn btn-sm btn-info float-end">Update</button>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <label for="id_prefix">Tag Prefix</label>
                            {{ form.prefix }}
                            {% for error in form.prefix.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div class="col-md-6 col-12">
                            <label for="id_number_suffix">Tag Suffix</label>
                            {{ form.number_suffix }}
                            {% for error in form.number_suffix.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-12 form-check">
                            {{ form.use_default_settings }}
                            <label for="id_use_default_settings" class="form-check-label">Use Default Settings</label>
                            {% for error in form.use_default_settings.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock %}
