SECRET_KEY =
FERNET_KEY =

# Firebase push notifications: connect in-app after setup (Settings >
# Extensions > Firebase). Requires a Google Cloud OAuth 2.0 Client
# (Web application type) created ahead of time in
# https://console.cloud.google.com/
GOOGLE_OAUTH_CLIENT_ID =
GOOGLE_OAUTH_CLIENT_SECRET =
GOOGLE_OAUTH_REDIRECT_URI =

EMAIL_HOST =
EMAIL_HOST_USER =
EMAIL_HOST_PASSWORD =
EMAIL_PORT =

DB_ENGINE =
# for mysql: "django.db.backends.mysql"
# for postgresql: "django.db.backends.postgresql"

DB_NAME =
DB_USERNAME =
DB_PASSWORD =
DB_HOST =
DB_PORT =

ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=
