SECRET_KEY =


EMAIL_HOST =
EMAIL_HOST_USER =
EMAIL_HOST_PASSWORD =
EMAIL_PORT = 

DB_ENGINE = 
for mysql: "django.db.backends.mysql"
for postgresql: "django.db.backends.postgresql"

DB_DATABASE = 
DB_USERNAME =                               #For adding user other than root
DB_PASSWORD = 
DB_HOST =  # should be "db" if using docker
DB_PORT = 