amqp==5.3.1
anyio==4.12.1
arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
async-timeout==5.0.1
attrs==25.4.0
barcode==1.0.4
billiard==4.2.4
black==26.3.1
CacheControl==0.14.4
celery==5.6.2
certifi==2026.2.25
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.3
click==8.1.3
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
coverage==6.4.2
cryptography==46.0.7
cssselect2==0.8.0
dj-database-url==0.5.0
Django==5.2.13
django-crontab==0.7.1
django-htmx==1.23.2
django-resized==1.0.2
django-silk==5.5.0
django-simple-history==3.2.0
django-smart-selects==1.7.2
django_celery_results==2.6.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
exceptiongroup==1.3.1
firebase_admin==7.1.0
future==1.0.0
google-api-core==2.30.2
google-auth==2.48.0
google-cloud-core==2.5.0
google-cloud-firestore==2.26.0
google-cloud-storage==3.9.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
gprof2dot==2025.4.14
grpcio==1.78.0
grpcio-status==1.78.0
gunicorn==23.0.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
inflection==0.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kombu==5.6.2
Levenshtein==0.27.1
lxml==6.0.1
msgpack==1.1.2
mypy_extensions==1.1.0
mysql-connector-python==9.1.0
mysqlclient==2.2.6
numpy==2.1.2
oscrypto==1.3.0
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
pathspec==1.0.4
pillow==12.2.0
platformdirs==4.9.6
prompt_toolkit==3.0.52
proto-plus==1.27.2
protobuf==6.33.6
psycopg2-binary==2.9.10
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==2.23
pyHanko==0.30.0
pyhanko-certvalidator==0.28.0
PyJWT==2.12.1
PyMySQL==1.1.1
pyotp==2.9.0
pypdf==6.9.2
PyPDF3==1.0.6
PySocks==1.7.1
python-barcode==0.16.1
python-bidi==0.6.6
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==0.20.0
python-Levenshtein==0.27.1
pytokens==0.4.1
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.2
qrcode==7.3.1
RapidFuzz==3.14.1
redis==7.3.0
referencing==0.37.0
reportlab==4.4.3
requests==2.32.5
rpds-py==0.28.0
rsa==4.9.1
selenium==4.41.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
sqlparse==0.5.2
structlog==25.5.0
svglib==1.5.1
tinycss2==1.4.0
tomli==2.0.1
tqdm==4.67.0
trio==0.33.0
trio-websocket==0.12.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
uritemplate==4.2.0
uritools==5.0.0
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
webencodings==0.5.1
websocket-client==1.9.0
whitenoise==6.1.0
wsproto==1.3.2
xhtml2pdf==0.2.17
