{% extends 'layouts/main-layout.html' %}
{% block content %}
<h3>Change Password</h3>
<div class="card">
    <div class="card-content">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-7 mx-auto my-3">
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        <div class="form-group position-relative has-icon-left">
                            {{form.old_password}}
                            <div class="form-control-icon">
                                <i class="bi bi-shield-lock"></i>
                            </div>
                        </div>
                        {% for error in form.old_password.errors %}
                            <div class="text-danger mb-3">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group position-relative has-icon-left">
                            {{form.new_password1}}
                            <div class="form-control-icon">
                                <i class="bi bi-shield-lock"></i>
                            </div>
                        </div>
                        {% for error in form.new_password1.errors %}
                            <div class="text-danger mb-3">{{ error }}</div>
                        {% endfor %}
                        <p class="text-muted">
                            {{form.new_password1.help_text}}
                        </p>
                        <div class="form-group position-relative has-icon-left">
                            {{form.new_password2}}
                            <div class="form-control-icon">
                                <i class="bi bi-shield-lock"></i>
                            </div>
                        </div>
                        {% for error in form.new_password2.errors %}
                            <div class="text-danger mb-3">{{ error }}</div>
                        {% endfor %}
                        <button type="submit" class="btn btn-info btn-block shadow-lg">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}