{% extends 'layouts/main-layout.html' %}
{% block content %}
{% load static %}
<div class="page-heading">
    <div class="d-flex justify-content-between">
        <div class="page-title">
            <h3>Deleted Clients</h3>
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end d-none d-md-block">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item" aria-current="page">Clients</li>
                    <li class="breadcrumb-item active" aria-current="page">Trash</li>
                </ol>
            </nav>
        </div>
        <div>
            <a href="{% url 'clients:list' %}" class="btn btn-sm btn-outline-info my-3">Back to Clients</a>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                {% if page_object %}
                    <div class="d-flex justify-content-end my-2 gap-2">
                        <input name="search_text" type="search" class='dataTable-input data-search' autocomplete="off" placeholder='Search here...'
                            hx-get="{% url 'recycle_bin:deleted_clients_search' page_object.number %}" hx-trigger="keyup changed delay:500ms, search" hx-target="#search_result">
                    </div>
                {% endif %}
                <div class="table-responsive">
                    <table class="table table-hover" id="table1">
                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>Client ID</th>
                                <th>Name</th>
                                <th>Industry</th>
                                <th>Rental Type</th>
                                <th>Deleted At</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        {% if page_object %}
                        <tbody id="search_result">
                            {% for client in page_object %}
                            <tr>
                                <td>{{page_object.start_index|add:forloop.counter0}}</td>
                                <td>{{client.client_id}}</td>
                                <td>{{client.name | title}}</td>
                                <td>{{client.industry|default:"-"}}</td>
                                <td>{{client.rental_type}}</td>
                                <td>{{client.updated_at}}</td>
                                <td>
                                    <div class="d-flex gap-1" role="group" aria-label="Basic example">
                                        <form action="{% url 'recycle_bin:deleted_clients_restore' client.id %}" method="post" onsubmit="return confirm('Are you sure you want to restore it?')">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-success btn-sm" title="Restore"><i class="bi bi-arrow-repeat"></i></button>
                                        </form>
                                        <form action="{% url 'recycle_bin:deleted_clients_permanently' client.id %}" method="post" onsubmit="return confirm('Are you sure you want to delete this permanently?')">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger btn-sm" title="Delete"><i class="bi bi-trash3-fill"></i></button>
                                        </form>                
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% else %}
                        <div class="alert alert-info" role="alert">
                            No record available!
                        </div>
                        {% endif %}
                    </table>
                </div>
                {% include 'commons/pagination.html' %}
            </div>
        </div>
    </section>
</div>
{% endblock content %}
