{% for client in page_object %}
<tr>
    <td>{{page_object.start_index|add:forloop.counter0}}</td>
    <td>{{client.client_id}}</td>
    <td>{{client.name | title}}</td>
    <td>{{client.industry|default:"-"}}</td>
    <td>{{client.rental_type}}</td>
    <td>{{client.updated_at}}</td>
    <td>
        <div class="d-flex gap-1" role="group" aria-label="Basic example">
            <form action="{% url 'recycle_bin:deleted_clients_restore' client.id %}" method="post" onsubmit="return confirm('{{ trans.restore_confirm }}')">
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-sm" title="{{ trans.restore_label }}"><i class="bi bi-arrow-repeat"></i></button>
            </form>
            <form action="{% url 'recycle_bin:deleted_clients_permanently' client.id %}" method="post" onsubmit="return confirm('{{ trans.delete_permanently_confirm }}')">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm" title="{{ trans.permanently_delete }}"><i class="bi bi-trash3-fill"></i></button>
            </form>                
        </div>
    </td>
</tr>
{% endfor %}
