{% extends 'layouts/main-layout.html' %}
{% block content %}
<div class="page-heading">
    <div class="d-flex justify-content-between">
        <div class="page-title">
            <h3>{{ trans.deleted_departments }}</h3>
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start d-none d-md-block">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">{{ trans.dashboard }}</a></li>
                    <li class="breadcrumb-item" aria-current="page">{{ trans.department_label }}</li>
                    <li class="breadcrumb-item active" aria-current="page">{{ trans.trash }}</li>
                </ol>
            </nav>
        </div>
        <div>
            <a href="{% url 'dashboard:departments' %}" class="btn btn-sm btn-outline-info my-3">{{ trans.back_to_departments }}</a>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                {% if page_object %}
                    <div class="d-flex justify-content-end my-2 gap-2">
                        <input name="search_text" type="search" class='dataTable-input data-search' autocomplete="off" placeholder='{{ trans.search_here }}'
                            hx-get="{% url 'recycle_bin:deleted_departments_search' page_object.number %}" hx-trigger="keyup changed delay:500ms, search" hx-target="#search_result">
                    </div>
                {% endif %}
                <div class="table-responsive">
                    <table class="table table-hover" id="table1">
                        <thead>
                            <tr>
                                <th>{{ trans.sl_no }}</th>
                                <th>{{ trans.department_name_label }}</th>
                                <th>{{ trans.contact_person_name_label }}</th>
                                <th>{{ trans.contact_person_email_label }}</th>
                                <th>{{ trans.contact_person_phone_label }}</th>
                            </tr>
                        </thead>
                        {% if page_object %}
                        <tbody id="search_result">
                            {% for department in page_object %}
                            <tr>
                                <td>{{page_object.start_index|add:forloop.counter0}}</td>
                                <td>{{department.name}}</td>
                                <td>{{department.contact_person_name}}</td>
                                <td>{{department.contact_person_email}}</td>
                                <td>{{department.contact_person_phone}}</td>
                                <td>
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                        <form action="{% url 'recycle_bin:deleted_departments_restore' department.id %}" method="post" onsubmit="return confirm('{{ trans.restore_confirm }}')">
                                            {% csrf_token %}
                                            <button type="submit" value="Delete" class="btn btn-sm btn-success"><i class="bi bi-arrow-repeat"></i></button>
                                        </form>
                                        <form action="{% url 'recycle_bin:deleted_departments_permanently' department.id %}" method="post" onsubmit="return confirm('{{ trans.delete_permanently_confirm }}')">
                                            {% csrf_token %}
                                            <button type="submit" value="Delete" class="btn btn-sm btn-danger"><i class="bi bi-trash3-fill"></i></button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% else %}
                        <div class="alert alert-info" role="alert">
                            {{ trans.no_record_available }}
                        </div>
                        {% endif %}
                    </table>
                </div>
                {% include 'commons/pagination.html' %}
            </div>
        </div>

    </section>
</div>
{% endblock content%}
