{% extends 'commons/first_time_installation.html' %}
{% block title %}Register{% endblock title %}
{% load static %}
{% block content %}
{% include 'commons/progress-bar.html' with current_step=2 %}
            <h4 class="title mb-3">Setup the Database</h4>
            <form method="post">
                
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-light-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                {% csrf_token %}
                <div class="form-group position-relative has-icon-left mb-3">
                    <span class="text-danger">*</span>
                    <select class="form-select form-select-lg mb-3 form-control-xl" aria-label="Large select example" name="database" required>
                        <option selected disabled>Choose Database</option>
                        <option value="1">MySQL</option>
                        <option value="2">PostgreSQL</option>
                    </select>
                </div>

                <div class="form-group position-relative has-icon-left mb-3">
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control form-control-xl" name="db_name" placeholder="Data Base Name" required>
                </div>
                <div class="form-group position-relative has-icon-left mb-3">
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control form-control-xl" name="user_name"  placeholder="User Name" required>
                </div>

                <div class="form-group position-relative has-icon-left mb-3">
                    <span class="text-danger">*</span>
                    <input type="password" class="form-control form-control-xl" name="password"  placeholder="Password" required>
                </div>
                            
                <div class="form-group position-relative has-icon-left mb-3">
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control form-control-xl" name="host_name"  placeholder="Host" required>
                </div>
                        
                <div class="form-group position-relative has-icon-left mb-3">
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control form-control-xl" name="port"  placeholder="Port Number" required>
                </div>

                <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-3">Continue</button>
            </form>
        </div>
    </div>
    <div class="col-lg-6 d-none d-lg-block sticky">
        <div id="auth-right" class="d-flex justify-content-center align-items-center flex-column">
            <img src="{% static 'images/new_logo/illustration.svg' %}" alt="" class="img-login display-flex justify-content-center " width="50%" >
        </div>
    </div>
</div>
{% endblock %}