{% extends 'commons/first_time_installation.html' %}
{% block title %}Register{% endblock title %}
{% load static %}
{% block content %}
{% include 'commons/progress-bar.html' with current_step=3 %}
            <h4 class="title mb-3">Setup the Email Service</h4>
            <form method="post">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-light-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                
                <div class="form-group position-relative has-icon-left mb-3">
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control form-control-xl" name="email_host" placeholder="Email Host" required>
                </div>
                <div class="form-group position-relative has-icon-left mb-3">
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control form-control-xl" name="email_host_user"  placeholder="Host User Name" required>
                </div>

                <div class="form-group position-relative has-icon-left mb-3">
                    <span class="text-danger">*</span>
                    <input type="password" class="form-control form-control-xl" name="email_host_password"  placeholder="Password" required>
                </div>
                            
                <div class="form-group position-relative has-icon-left mb-3">
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control form-control-xl" name="email_port"  placeholder="Port Number" required>
                </div>
        
                <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-3">Continue</button>
            </form>
        </div>
    </div>
    <div class="col-lg-6 d-none d-lg-block">
        <div id="auth-right" class="d-flex justify-content-center align-items-center flex-column">
            <img src="{% static 'images/new_logo/illustration.svg' %}" alt="" class="img-login display-flex justify-content-center " width="50%" >
        </div>
    </div>
</div>
{% endblock %}