{% extends 'commons/first_time_installation.html' %}
{% block title %}Register{% endblock title %}
{% block content %}
{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
            <div class="text-center" style="margin-top:52px;">
                <div>
                    <a href="/"><img src="{% static 'images/asseto-logo.svg' %}" alt="Logo" style="max-width: 53%;  height: auto;"></a>
                </div>

                {% include 'commons/progress-bar.html' with current_step=1 %}
            </div>
            <div class="text-center responsive-text">
                <p>Thank you for choosing <b>Asseto</b>, the open-source asset management application.
                    To get started, please continue with the installation process to unlock all the features and start managing your assets effectively.</p>
            </div>
            <div class="text-center" style="margin-top:80px;">
            <a class="btn intro-btn mt-4" href="{% url 'authentication:db_configure' %}" role="button">Continue Installation</a>
            </div>
        </div>
        <p class="company-name" style="position: absolute; bottom: 0;">Powered by <a href="https://vyrazu.com/">Vyrazu Labs</a></p>
    </div>
    <div class="col-lg-6 d-none d-lg-block">
        <div id="auth-right" class="d-flex justify-content-center align-items-center flex-column">
            <img src="{% static 'images/new_logo/illustration.svg' %}" alt="" class="img-login display-flex justify-content-center " width="50%" >
        </div>
    </div>
</div>
{% endblock %}
