{% extends 'layouts/main-layout.html' %}
{% block content %}
<div class="page-heading">
    <div class="d-flex justify-content-between">
        <div class="page-title">
            <h3>Assign Asset</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Assign Asset</li>
                </ol>
            </nav>
        </div>
        {% if perms.authentication.add_assign_asset %}
            <div>
                <!-- assign btn -->
                <button type="button"  
                    class="btn btn-sm btn-outline-info my-3 "
                    hx-get="{% url 'assets:assign_asset' %}" 
                    hx-target="#assign-asset-modal-content"
                    data-bs-toggle="modal" 
                    data-bs-target="#assign-asset-modal"
                >Assign Asset</button>
            </div>
        {% endif %}
    </div>
    <section class="section">
        <!-- assign modal -->
        <div class="modal fade text-left" id="assign-asset-modal" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel160" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div id="assign-asset-modal-content" class="modal-content" hx-target="this"></div>
            </div>
        </div>        
        <!-- reassign modal -->
        <div class="modal fade text-left" id="reassign-asset-modal" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel160" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div id="reassign-asset-modal-content" class="modal-content" hx-target="this"></div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                {% if page_object %}
                    <div class="d-flex justify-content-end my-2 gap-2">
                        <input name="search_text" type="search" class='dataTable-input' autocomplete="off" placeholder='Search here...'
                            hx-get="{% url 'assets:assign_asset_search' page_object.number %}" hx-trigger="keyup changed delay:500ms, search" hx-target="#search_result">
                    </div>
                {% endif %}
                <table class="table table-hover text-center" id="table1">
                    <thead>
                        <tr>
                            <th>Sl No.</th>
                            <th>Asset Name</th>
                            <th>Serial No.</th>
                            <th>Assigned To</th>
                            <th>Department</th>
                            {% if perms.authentication.reassign_assign_asset or perms.authentication.delete_assign_asset%}
                                <th>Actions</th>
                            {% endif %}
                        </tr>
                    </thead>
                    {% if page_object %}
                    <tbody id="search_result">
                          {% for assign_asset in page_object %}
                        <tr>
                            <td>{{page_object.start_index|add:forloop.counter0}}</td>
                            <td>{{assign_asset.asset.name}}</td>
                            <td>{{assign_asset.asset.serial_no}}</td>
                            <td>
                                {{assign_asset.user.full_name}}
                                {% if assign_asset.user.is_deleted %}
                                    <i class="bi bi-exclamation-triangle text-warning" title="User is deleted, please update or restore."></i>
                                {% endif %}
                            </td>
                            <td>{{assign_asset.user.department.name}}</td>
                            <td>
                                <a href="{% url 'assets:details' assign_asset.id %}" class="btn btn-success"><i class="bi bi-eye-fill"></i></a>
                                {% if perms.authentication.reassign_assign_asset %}
                                    <button type="button" class="btn btn-info btn-sm" 
                                        hx-get="{% url 'assets:reassign_asset' assign_asset.id %}" hx-target="#reassign-asset-modal-content"
                                        data-bs-toggle="modal" data-bs-target="#reassign-asset-modal"
                                    >Reassign</button>
                                {% endif %}
                                {% if perms.authentication.delete_assign_asset %}
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                        <form action="{% url 'assets:delete_assign' assign_asset.id %}" method="post" onsubmit="return confirm('Are you sure you want to unassign this?')">  
                                            {% csrf_token %}
                                            <button type="submit" value="Delete" class="btn btn-sm btn-danger">Unassign</button>
                                        </form>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                      <div class="alert alert-info" role="alert">
                        No record available!
                      </div>
                    {% endif %}
                </table>
                {% include 'commons/pagination.html' %}
            </div>
        </div>
    </section>
</div>
{% endblock content%}