{% extends 'layouts/main-layout.html' %}
{% block content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Frequently Ask Questions</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item" aria-current="page">Support</li>
                        <li class="breadcrumb-item active" aria-current="page">FAQs</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="accordion" id="accordionExample">
            <div class="card">

                {% for faq in all_faq_list %}

                    <div class="accordion-item">

                        <h2 class="accordion-header" id="heading-{{forloop.counter}}">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{forloop.counter}}" aria-expanded="false" aria-controls="collapse-{{forloop.counter}}">
                              <strong>   #{{forloop.counter}} {{faq.question}} </strong>
                           </button>
                        </h2>
                        
                        <div id="collapse-{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="heading-{{forloop.counter}}" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              <p style="text-indent: 40px">  {{faq.answer}}  </p>
                           </div>
                        </div>
                        
                    </div>

                {% endfor %}

            </div>
        </div>
    </section>
</div>
{% endblock content%}