{% load static %}
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<div class="upload-modal-content">
    <div class="upload-modal-header">
        <h5 class="modal-title"><i class="bi bi-upload"></i> {{ trans.upload }} {{ page }}</h5>
        <button type="button" class="upload-btn-close" data-bs-dismiss="modal" aria-label="{{ trans.close_modal }}">
            <i class="bi bi-x-lg"></i>
        </button>
    </div>

    <form
        method="post"
        hx-post="{{ request.path }}"
        hx-target="{{ hx_target|default:'#mapping-vendors-modal-content' }}"
        hx-swap="innerHTML"
        hx-encoding="multipart/form-data"
        enctype="multipart/form-data"
    >
        {% csrf_token %}
        <div class="upload-modal-body">
            <div class="form-group">
                <label>{{ trans.select_csv_file }} <span class="required">*</span></label>
                <input class="form-control" type="file" id="formFile" name="file"
                       accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                       onchange="toggleSubmitButton()">
                <small class="text-muted">* {{ trans.csv_file_instruction }}</small><br>
                <small class="text-muted">* {{ trans.proper_format_instruction }}</small><br>
                <small class="text-muted">* {{ trans.max_lines_instruction }}</small>
            </div>
        </div>

        <div class="upload-modal-footer">
            <button type="button" class="btn-cancel" data-bs-dismiss="modal">
                <i class="bi bi-x-lg"></i> {{ trans.cancel }}
            </button>
            <button type="submit" class="btn-save" id="submitButton" disabled>
                <i class="bi bi-check-lg"></i> {{ trans.upload }}
            </button>
        </div>
    </form>
</div>

<script>
    function toggleSubmitButton() {
        const fileInput = document.getElementById('formFile');
        const submitButton = document.getElementById('submitButton');
        submitButton.disabled = !fileInput.files.length;
    }

    document.addEventListener('DOMContentLoaded', toggleSubmitButton);
</script>
