<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<div class="modal-content">
    <div class="modal-header bg-dark text-white">
        <span class="modal-title w-100 text-center" id="myModalLabel150">
            {{ trans.upload }} {{ page }}
        </span>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <form 
        method="post"
        hx-post="{{ request.path }}" 
        hx-target="{{ hx_target|default:'#mapping-vendors-modal-content' }}" 
        hx-swap="innerHTML"
        hx-encoding="multipart/form-data"
        enctype="multipart/form-data"
    >
        {% csrf_token %}
        <div class="modal-body">
            <div class="card">
                <div class="card-content py-0">
                    <div class="card-body py-0 pt-2">
                        <input class="form-control" type="file" id="formFile" name="file" 
                               accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                               onchange="toggleSubmitButton()">
                        <small>* {{ trans.csv_file_instruction }}</small><br>
                        <small>* {{ trans.proper_format_instruction }}</small><br>
                        <small>* {{ trans.max_lines_instruction }}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-light-secondary" data-bs-dismiss="modal">
                <i class="bx bx-x d-block d-sm-none"></i>
                <span class="d-none d-sm-block">{{ trans.close }}</span>
            </button>
            <button type="submit" class="btn btn-sm btn-info ml-1" id="submitButton" disabled>
                <i class="bx bx-check d-block d-sm-none"></i>
                <span class="d-none d-sm-block">{{ trans.upload }}</span>
            </button>
        </div>
    </form>
</div>

<script>
    function toggleSubmitButton() {
        const fileInput = document.getElementById('formFile');
        const submitButton = document.getElementById('submitButton');
        submitButton.disabled = !fileInput.files.length; // Disable if no files, enable if files exist
    }

    // Initialize button state on page load
    document.addEventListener('DOMContentLoaded', toggleSubmitButton);
</script>