{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    <link rel="stylesheet" href="{% static 'assets/css/main/app.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/main/app-dark.css' %}" />

    <link rel="shortcut icon" href="{% static 'assets/images/logo/Logo.svg' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'assets/images/logo/Logo.png' %}" type="image/png" />
    
    <link rel="stylesheet" href="{% static 'assets/css/shared/iconly.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/pages/simple-datatables.css' %}">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/htmx.min.js' %}"></script>
    <script defer src="{% static 'assets/js/app.js' %}"></script>
</head>

<body>
    
    <!-- Changing Theme on Reload -->
    <script>
        const theme = localStorage.getItem('theme') || 'light';
        document.body.className = theme;
    </script>

    <div id="app">
        {% include 'commons/sidebar.html' %}
        <div id="main">
            <header class='mb-3'>
                <nav class="navbar navbar-expand navbar-light ">
                        {% block content %}
                            {% include 'commons/global_search.html' %}
                        {% endblock content %}
                    <div class="container-fluid"> 
                        <a href="#" class="burger-btn d-block d-xl-none">
                            <i class="bi bi-justify fs-3"></i>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <!-- <li class="nav-item dropdown me-1">
                                    <a class="nav-link active dropdown-toggle text-gray-600" href="#" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class='bi bi-envelope bi-sub fs-4'></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                        <li>
                                            <h6 class="dropdown-header">Mail</h6>
                                        </li>
                                        <li><a class="dropdown-item" href="#">No new mail</a></li>
                                    </ul>
                                </li> -->
                                <li class="nav-item dropdown me-3">
                                    <a class="nav-link active dropdown-toggle text-gray-600" href="#" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class='bi bi-bell bi-sub fs-4'></i>
                                        <span hx-trigger="load, notificationCountChanged from:body, every 5s" hx-get="{% url 'notifications:count' %}" hx-target="this"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton" onclick="event.stopPropagation();">
                                        <li>
                                            <h6 class="dropdown-header">Notifications</h6>
                                        </li> 
                                        <span hx-get="{% url 'notifications:data' %}" hx-target="this" hx-trigger="load, notificationListChanged from:body, every 5s">
                                            <li><a class="dropdown-item">No notification available</a></li>
                                        </span>
                                    </ul>
                                </li>
                            </ul>
                            <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="user-menu d-flex">
                                        <div class="user-name text-end me-3">
                                            <h6 class="mb-0 text-gray-600">{{request.user.full_name}}</h6>
                                            <p class="mb-0 text-sm text-gray-600">{% if request.user.is_superuser %} Administrator {% else %} {{request.user.role}} {% endif %}</p>
                                        </div>
                                        <div class="user-img d-flex align-items-center">
                                            <div class="avatar avatar-md">
                                            {% if request.user.profile_pic %}
                                                <img src="{{request.user.profile_pic.url}}">
                                            {% else %}
                                                <img src="{% static 'assets/images/faces/1.jpg' %}">
                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton" style="min-width: 11rem;">
                                    <li>
                                        <h6 class="dropdown-header">Hello, {{request.user.full_name}}</h6>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href={% if profile %}"javascript:void(0)"{% else %}"{% url 'authentication:profile' %}"{% endif %}>
                                            <i class="icon-mid bi bi-person me-2"></i> 
                                            My Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'password_change' %}">
                                            <i class="icon-mid bi bi-key me-2"></i> 
                                            Change Password
                                        </a>
                                    </li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'authentication:logout' %}"><i
                                                class="icon-mid bi bi-box-arrow-left me-2"></i> Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <script>
                            Toastify({
                                text: "{{ message }}",
                                duration: 3000,
                                close: true,
                                style: {background: '#d9534f'}
                            }).showToast();
                                </script>
                        {% else %}
                        <script>
                            Toastify({
                                text: "{{ message }}",
                                duration: 3000,
                                close: true,
                            }).showToast();
                        </script>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </header>