{% load static %}
</head>
<body>
  <div class="setup-progress-container">
    <div class="steps" id="progress-bar" data-step="{{ current_step }}">
      <div class="progress-line"></div>

      <div class="step" data-step="1">1</div>
      <div class="step" data-step="2">2</div>
      <div class="step" data-step="3">3</div>
      <div class="step" data-step="4">4</div>
    </div>

    <div class="step-labels">
      <span>Welcome</span>
      <span>Database Setup</span>
      <span style="margin-right: 44px">Register</span>
      <span>Login</span>
    </div>
  </div>
