{% load static %}
<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header position-relative mt-2">
            <div class="d-flex justify-content-between align-items-center">
                <div class="logo">
                    <a href="/"><img src="{% static 'assets/images/logo/asset_logo.png' %}" alt="Logo" srcset="" style="max-width: 90%;  height: auto;"/></a>
                </div>
                <div class="theme-toggle d-flex gap-2 align-items-center mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true" role="img" class="iconify iconify--system-uicons" width="20"
                        height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21">
                        <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path
                                d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2"
                                opacity=".3"></path>
                            <g transform="translate(-210 -1)">
                                <path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path>
                                <circle cx="220.5" cy="11.5" r="4"></circle>
                                <path d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2">
                                </path>
                            </g>
                        </g>
                    </svg>
                    <div class="form-check form-switch fs-6">
                        <input class="form-check-input me-0" type="checkbox" id="toggle-dark" />
                        <label class="form-check-label"></label>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true" role="img" class="iconify iconify--mdi" width="20" height="20"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z">
                        </path>
                    </svg>
                </div>
                <div class="sidebar-toggler x">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>

                <li class="sidebar-item {% if sidebar == 'index' %}active{% endif %}">
                    {% if request.user.is_superuser %}
                        <a href="/" class="sidebar-link">
                            <i class="bi bi-grid-fill"></i>
                            <span>Dashboard</span>
                        </a>
                    {% endif %}
                </li>
                {% if perms.authentication.delete_vendor or perms.authentication.edit_vendor or perms.authentication.add_vendor or perms.authentication.view_vendor %}
                    <li class="sidebar-item {% if sidebar == 'vendors' %}active{% endif %}">
                        <a href="{% url 'vendors:list' %}" class="sidebar-link">
                            <i class="bi bi-person-badge"></i>
                            <span>Vendors</span>
                        </a>
                    </li>
                {% endif %}
                {% if perms.authentication.view_product or perms.authentication.delete_product or perms.authentication.edit_product or perms.authentication.add_product %}
                    <li class="sidebar-item {% if sidebar == 'products' %}active{% endif %}">
                        <a href="{% url 'products:list' %}" class="sidebar-link">
                            <i class="bi bi-display-fill"></i>
                            <span>Products</span>
                        </a>
                    </li>
                {% endif %}
                {% if perms.authentication.view_users or perms.authentication.delete_users or perms.authentication.edit_users or perms.authentication.add_users %}                    <li class="sidebar-item {% if sidebar == 'users' %}active{% endif %}">
                    <li class="sidebar-item {% if sidebar == 'users' %}active{% endif %}">   
                        <a href="{% url 'users:list' %}" class="sidebar-link">
                            <i class="bi bi bi-people-fill"></i>
                            <span>Users</span>
                        </a>
                    </li>
                {% endif %}
                {% if perms.authentication.edit_asset or perms.authentication.delete_asset or perms.authentication.delete_assign_asset or perms.authentication.add_assign_asset or perms.authentication.add_asset or perms.authentication.reassign_assign_asset %}
                <li class="sidebar-item {% if sidebar == 'assets' %}active{% endif %}">
                        <a href="{% url 'assets:list' %}" class="sidebar-link">
                            <i class="bi bi-gear-fill"></i>
                            <span>Assets</span>
                        </a>
                    </li>
                {% endif %}

                <li class="sidebar-item has-sub {% if sidebar == 'admin' %}active{% endif %}">
                    {% if request.user.is_superuser %}
                        <a href="javascript:void(0)" class="sidebar-link">
                            <i class="bi bi-person-fill"></i>
                            <span>Admin</span>
                        </a>
                    {% endif %}
                    <ul class="submenu {% if sidebar == 'admin' %}active{% endif %}">
                        {% if perms.authentication.add_location or perms.authentication.edit_location or perms.authentication.delete_location or perms.authentication.view_location %}
                            <li class="submenu-item {% if submenu == 'location' %}active{% endif %}">
                                <a href="{% url 'dashboard:locations' %}">Locations</a>
                            </li>
                        {% endif %}
                        {% if perms.authentication.add_department or perms.authentication.delete_department or perms.authentication.edit_department %}
                            <li class="submenu-item {% if submenu == 'department' %}active{% endif %}">
                                <a href="{% url 'dashboard:departments' %}">Departments</a>
                            </li>
                        {% endif %}
                        {% if perms.authentication.add_product_type or perms.authentication.edit_product_type or perms.authentication.edit_product_type %}
                            <li class="submenu-item {% if submenu == 'product_type' %}active{% endif %}">
                                <a href="{% url 'dashboard:product_type_list' %}">Product Types</a>
                            </li>
                        {% endif %}
                        {% if perms.authentication.delete_product_category or perms.authentication.add_product_category or perms.authentication.edit_product_category %}
                            <li class="submenu-item {% if submenu == 'product_category' %}active{% endif %}">
                                <a href="{% url 'dashboard:product_category_list' %}">Product Categories</a>
                            </li>
                        {% endif %}

                        {% if perms.authentication.delete_product_category or perms.authentication.add_product_category or perms.authentication.edit_product_category %}
                            <li class="submenu-item {% if submenu == 'Asset Status' %}active{% endif %}">
                                <a href="{% url 'assets:asset_status_list' %}">Asset Status</a>
                            </li>
                        {% endif %}
                        
                        {% if request.user.is_superuser %}
                            <li class="submenu-item {% if submenu == 'roles' %}active{% endif %}">
                                <a href="{% url 'roles:list' %}">Roles</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                {% if perms.authentication.add_vendor or perms.authentication.add_location or perms.authentication.add_department or perms.authentication.add_product_type or perms.authentication.add_product_category %}
                    <li class="sidebar-item has-sub {% if sidebar == 'upload' %}active{% endif %}">
                        <a href="javascript:void(0)" class="sidebar-link">
                            <i class="bi bi-hdd-fill"></i>
                            <span>Upload</span>
                        </a>
                        <ul class="submenu {% if sidebar == 'upload' %}active{% endif %}">
                            {% if perms.authentication.add_vendor %}
                                <li class="submenu-item {% if submenu == 'vendors' %}active{% endif %}">
                                    <a href="{% url 'upload:vendor_list' %}">Vendors</a>
                                </li>
                            {% endif %}
                            {% if perms.authentication.add_location %}
                                <li class="submenu-item {% if submenu == 'locations' %}active{% endif %}">
                                    <a href="{% url 'upload:location_list' %}">Locations</a>
                                </li>
                            {% endif %}
                            {% if perms.authentication.add_department %}
                                <li class="submenu-item {% if submenu == 'departments' %} active {% endif %}">
                                    <a href="{% url 'upload:department_list' %}">Departments</a>
                                </li> 
                            {% endif %}
                            {% if perms.authentication.add_product_type %}
                                <li class="submenu-item {% if submenu == 'product_types' %}active{% endif %}">
                                    <a href="{% url 'upload:product_type_list' %}">Product Types</a>
                                </li>
                            {% endif %}
                            {% if perms.authentication.add_product_category %}
                                <li class="submenu-item {% if submenu == 'product_categories' %}active{% endif %}"> 
                                    <a href="{% url 'upload:product_category_list' %}">Product Categories</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                <!-- {% if request.user.is_superuser %}
                    <li class="sidebar-item has-sub {% if sidebar == 'trash' %}active{% endif %}">
                        <a href="javascript:void(0)" class="sidebar-link">
                            <i class="bi bi-trash3-fill"></i>
                            <span>Recycle Bin</span>
                        </a>
                        <ul class="submenu {% if sidebar == 'trash' %}active{% endif %}">
                            <li class="submenu-item {% if submenu == 'vendors' %}active{% endif %}">
                                <a href="{% url 'recycle_bin:deleted_vendors' %}">Vendors</a>
                            </li>
                            <li class="submenu-item {% if submenu == 'products' %}active{% endif %}">
                                <a href="{% url 'recycle_bin:deleted_products' %}">Products</a>
                            </li>
                            <li class="submenu-item {% if submenu == 'users' %}active{% endif %}">
                                <a href="{% url 'recycle_bin:deleted_users' %}">Users</a>
                            </li>
                            <li class="submenu-item {% if submenu == 'assets' %}active{% endif %}">
                                <a href="{% url 'recycle_bin:deleted_assets' %}">Assets</a>
                            </li>
                        </ul>
                    </li>
                {% endif %} -->
                {% if request.user.is_superuser %}
                    <li class="sidebar-item has-sub {% if sidebar == 'support' %}active{% endif %}">
                        <a href="javascript:void(0)" class="sidebar-link">
                            <i class="bi bi-person-video3"></i>
                            <span>Support</span>
                        </a>
                        <ul class="submenu {% if sidebar == 'support' %}active{% endif %}">
                            <li class="submenu-item {% if submenu == 'faq' %}active{% endif %}">
                                <a href="{% url 'support:support_faq' %}">FAQs</a>
                            </li>
                            <li class="submenu-item">
                                <a href="mailto:anand@vyrazu.com?subject=Help%20and%20Support%20[AM-From {{request.user.username}}]">Help & Support</a>
                            </li>
                            <li class="submenu-item">
                                <a href="#">Demo Videos</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>