{% extends 'commons/first_time_installation.html' %}
{% block title %}Register{% endblock title %}
{% load static %}
{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
            {% include 'commons/progress-bar.html' with current_step=4 %}
            <h1 class="title">Sign Up</h1>
            <p class="subtitle mb-5">Input your data to register to our website.</p>
  

            <form action="" method="post" novalidate>
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-light-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                {% csrf_token %}
                <div class="form-group position-relative has-icon-left mb-3">
                    <span class="text-danger">*</span>
                    {{u_form.full_name}}
                    <div class="form-control-icon">
                        <div id="input-content" style="padding-top: 20px;">
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
                </div>
                {% for error in u_form.full_name.errors %}
                    <div class="text-danger mb-3">{{ error }}</div>
                {% endfor %}
                {% for error in u_form.email.errors %}
                    <div class="text-danger mb-3">{{ error }}</div>
                {% endfor %}
                <div class="form-group position-relative has-icon-left mb-3">
                    <span class="text-danger">*</span>
                    {{u_form.username}}
                    <div class="form-control-icon">
                        <div id="input-content" style="padding-top: 20px;">
                            <i class="bi bi-person-square"></i>
                        </div>
                    </div>
                </div>
                {% for error in u_form.username.errors %}
                    <div class="text-danger mb-3">{{ error }}</div>
                {% endfor %}
                <div class="form-group position-relative has-icon-left mb-3">
                    <span class="text-danger">*</span>
                    {{u_form.email}}
                    <div class="form-control-icon">
                        <div id="input-content" style="padding-top: 20px;">
                            <i class="bi bi-envelope"></i>
                        </div>
                    </div>
                </div>
                {% for error in u_form.username.errors %}
                    <div class="text-danger mb-3">{{ error }}</div>
                {% endfor %}
                <div class="form-group position-relative has-icon-left mb-3">
                    <span class="text-danger">*</span>
                    {{u_form.phone}}
                    <div class="form-control-icon">
                        <div id="input-content" style="padding-top: 20px;">
                            <i class="bi bi-phone"></i>
                        </div>
                    </div>
                </div>
                {% for error in u_form.phone.errors %}
                    <div class="text-danger mb-3">{{ error }}</div>
                {% endfor %}
                <div class="form-group position-relative has-icon-left mb-3">
                    <span class="text-danger">*</span>
                    {{u_form.password1}}
                    <div class="form-control-icon">
                        <div id="input-content" style="padding-top: 20px;">
                            <i class="bi bi-shield-lock"></i>
                        </div>
                    </div>
                </div>
                {% for error in u_form.password1.errors %}
                    <div class="text-danger mb-3">{{ error }}</div>
                {% endfor %}
                <p class="text-muted">{{u_form.password1.help_text}}</p>
                <div class="form-group position-relative has-icon-left mb-3">
                    <span class="text-danger">*</span>
                    {{u_form.password2}}
                    <div class="form-control-icon">
                        <div id="input-content" style="padding-top: 20px;">
                            <i class="bi bi-shield-lock"></i>
                        </div>
                    </div>
                </div>
                {% for error in u_form.password2.errors %}
                    <div class="text-danger mb-3">{{ error }}</div>
                {% endfor %}
                <div class="form-group position-relative has-icon-left mb-3">
                    <span class="text-danger">*</span>
                    {{o_form.name}}
                    <div class="form-control-icon">
                        <div id="input-content" style="padding-top: 20px;">
                            <i class="bi bi-building"></i>
                        </div>
                    </div>
                </div>
                {% for error in o_form.name.errors %}
                    <div class="text-danger mb-3">{{ error }}</div>
                {% endfor %}
                <div class="form-group position-relative has-icon-left mb-3">
                    <span class="text-danger">*</span>
                    {{o_form.website}}
                    <div class="form-control-icon">
                        <div id="input-content" style="padding-top: 20px;">
                            <i class="bi bi-globe"></i>
                        </div>
                    </div>
                </div>
                {% for error in o_form.website.errors %}
                    <div class="text-danger mb-3">{{ error }}</div>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-3">Sign Up</button>
            </form>
        </div>
    </div>
    <div class="col-lg-6 d-none d-lg-block">
        <div id="auth-right" class="d-flex justify-content-center align-items-center flex-column">
            <img src="{% static 'images/new_logo/illustration.svg' %}" alt="" class="img-login display-flex justify-content-center " width="50%" >
        </div>
    </div>
</div>
{% endblock %}