{% extends 'layouts/main-layout.html' %}
{% load static %}
{% block content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>User Details</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item" aria-current="page">Users</li>
                        <li class="breadcrumb-item active" aria-current="page">User Details</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

<div>
    <a href="{% url 'users:list' %}" class="btn btn-sm btn-outline-info my-3">Back to User List</a>
</div>
<div class="page-content">
    <section class="row">
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="row gallery">
                        <div class="col-12 mb-2 py-2 px-2 border">
                        {% if user.profile_pic %}
                            <img class="w-100 active" src="{{user.profile_pic.url}}">               
                        {% else %}
                            <img class="w-100 active" src="{% static 'assets/images/faces/1.jpg' %}">
                        {% endif %}
                        </div>
                        <h6 class="my-3">
                            <i class="bi bi-person-badge"></i>
                            <span>Contact Information</span>
                        </h6>
                        <p><i class="bi bi-telephone-fill"></i>&nbsp; <a href="tel:{{user.phone}}">{{user.phone}}</a> </p>
                        <p><i class="bi bi-envelope-fill"></i>&nbsp; <a href="mailto:{{user.email}}">{{user.email}}</a> </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8">

            <div class="card">
                <div class="card-body">
                    <h6 class="my-3">
                        <i class="bi bi-person-fill"></i>
                        <span>Basic Information</span>                       
                    </h6>
                    <table class="table table-borderless">

                        <tr>
                            <td><b>Full Name</b></td>
                            <td>{{user.full_name}}</td>
                        </tr>

                        <tr>
                            <td><b>Designation</b></td>
                            <td>{{user.role}}</td>
                        </tr>

                        <tr>
                            <td><b>Department</b></td>
                            <td>{{user.department}}</td>
                        </tr>

                        <tr>
                            <td><b>Status</b></td>
                            <td>
                                {% if user.is_active %}
                                    Active
                                {% else %}
                                    Inactive
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td><b>Address</b></td>
                            <td>{{user.address.address_line_one}}</td>
                        </tr>

                    </table>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h6 class="my-3">
                        <i class="bi bi-building"></i>
                        <span>Company Information</span>
                    </h6>
                    <table class="table table-borderless">
                        <tr>
                            <td><b>Company Name</b></td>
                            <td>{{user.location.office_name}}</td>
                        </tr>
                        <tr>
                            <td><b>Company Address</b></td>
                            <td>{{user.location.address.address_line_one}}</td>
                        </tr>
                        <tr>
                            <td><b>Contact Person Name</b></td>
                            <td>{{user.location.contact_person_name}}</td>
                        </tr>
                        <tr>
                            <td><b>Contact Person Number</b></td>
                            <td>{{user.location.contact_person_phone}}</td>
                        </tr>
                        <tr>
                            <td><b>Contact Person Email</b></td>
                            <td>{{user.location.contact_person_email}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        {% include 'commons/history.html' %}
    </section>
</div>
{% endblock content %}