{% extends 'layouts/main-layout.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}
<div class="page-heading">
    <div class="d-flex justify-content-between">
        <div class="page-title">
            <h3 class="page-name">Audit</h3>
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end d-none d-md-block">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item" aria-current="page">Audit</li>
                    <li class="breadcrumb-item active" aria-current="page">List</li>
                </ol>
            </nav>
        </div>
    </div>
    <section class="section">   
            <div class="card mt-3">
                <div class="card-body" id="custom-field-container">
                    <div class="table-responsive items-table">
                        <div class="choice-buttons">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <a type="button" class="btn btn-outline-secondary rounded-3" href="{% url 'audit:pending_audits' %}" style="width: 120px;">Pending</a>
                                    <a type="button" class="btn btn-outline-secondary rounded-3" href="{% url 'audit:completed_audits' %}" style="width: 120px;">Completed</a>
                                </div>
                                <a href="{% url 'audit:add_audit' %}" class="btn btn-sm btn-outline-info my-3 me-2">Add Audit</a>
                            </div>
                            <div style="height: 40px;"></div>
                            <div class="d-flex justify-content-between">
                                <h3>Completed Audits</h3>
                            </div>
                        </div>
                        <table class="table mt-3" id="table1">
                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Image</th>
                                    <th>Asset Name</th>
                                    <th>Condition</th>
                                    <th class="ps-5">Notes</th>
                                    <th>Time</th>
                                    <th>Next Audit Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            {% if audits is not None %}
                                {% for audit in audits %}
                                <tbody id="search_result">
                                    <tr style="height: 100px;">
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            {% with image_url=audit|audit_image_url %}
                                                {% if image_url %}
                                                    <img src="{{ audit|audit_image_url }}" height="100" width="100"/>
                                                {% else %}
                                                    <img src='{% static 'assets/images/No_Image.jpg' %}' height="100" width="100">
                                                {% endif %}
                                            {% endwith %}
                                        </td>
                                        <td>{{ audit.asset.name}}</td>
                                        <td>{{ audit.condition_label }}</td>
                                        <td>{{ audit.notes|truncatechars:30 }}</td>
                                        <td>{{ audit.created_at }}</td>
                                        <td>{{ audit.id|next_audit_due }}</td>
                                        <td> 
                                            <div> 
                                                <a href="{% url 'audit:details' audit.id %}" class="btn btn-sm btn-success pt-2"><i class="bi bi-eye-fill p-1"></i></a>
                                                <a href="{% url 'audit:get_audits_by_id' audit.asset.id %}" class="btn btn-sm btn-primary pt-2"><i class="bi bi-archive p-1"></i></a></td>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            {% else %}
                                <p>No audit history found</p>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
    </section>
</div>
{% endblock content %}