{% extends 'layouts/main-layout.html' %}
{% load static %}
{% block content %}
<div class="page-heading">
    <div class="d-flex justify-content-between">
        <div class="page-title">
            <h3 class="page-name">{{ trans.update_location }}</h3>


            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end d-none d-md-block">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">{{ trans.dashboard }}</a></li>
                    <li class="breadcrumb-item">{{ trans.locations }}</li>
                    <li class="breadcrumb-item active" aria-current="page">{{ trans.update_location }}</li>
                </ol>
            </nav>

        </div>
        <div>
            <a href="{% url 'dashboard:locations' %}" class="btn btn-sm btn-outline-info my-3">{{ trans.back_to_location_list }}</a>
        </div>
    </div>
    <section class="section">
        <form class="form row" action="{% url 'dashboard:update_location' location.id %}" method="POST" novalidate>
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>{{ trans.office_name_label }}</label>
                                {{location_form.office_name}}
                                {% for error in location_form.office_name.errors %}
                                <small class="text-danger mb-3">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>{{ trans.contact_person_name_label }}</label>
                                {{location_form.contact_person_name}}
                                {% for error in location_form.contact_person_name.errors %}
                                <small class="text-danger mb-3">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>{{ trans.contact_person_email_label }}</label>
                                {{location_form.contact_person_email}}
                                {% for error in location_form.contact_person_email.errors %}
                                <small class="text-danger mb-3">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>{{ trans.contact_person_phone_label }}</label>
                                {{location_form.contact_person_phone}}
                                {% for error in location_form.contact_person_phone.errors %}
                                <small class="text-danger mb-3">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>{{ trans.address_line_1_label }}</label>
                                {{address_form.address_line_one}}
                                {% for error in address_form.address_line_one.errors %}
                                <small class="text-danger mb-3">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>{{ trans.address_line_2_label }}</label>
                                {{address_form.address_line_two}}
                                {% for error in address_form.address_line_two.errors %}
                                <small class="text-danger mb-3">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>{{ trans.country_label }}</label>
                                {{address_form.country}}
                                {% for error in address_form.country.errors %}
                                <small class="text-danger mb-3">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>{{ trans.state_label }}</label>
                                {{address_form.state}}
                                {% for error in address_form.state.errors %}
                                <small class="text-danger mb-3">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>{{ trans.city_label }}</label>
                                {{address_form.city}}
                                {% for error in address_form.city.errors %}
                                <small class="text-danger mb-3">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>{{ trans.zip_code_label }}</label>
                                {{address_form.pin_code}}
                                {% for error in address_form.pin_code.errors %}
                                <small class="text-danger mb-3">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>
                            </div>
                </div>
                <div class="card-header">
                    <button type="submit" class="btn btn-sm btn-info float-end">{{ trans.save }}</button>
                </div>
            </div>
        </form>
    </section>
</div>
<script>
function requestAndSendNotification() {
  if (Notification.permission === "granted") {
    sendNotification();
  } else if (Notification.permission !== "denied") {
    Notification.requestPermission().then(permission => {
      if (permission === "granted") {
        sendNotification();
      }
    });
  }
}

function sendNotification() {
  const title = "{{ trans.location_updated_notification_title }}";
  const options = {
    body: "{{ trans.location_updated_notification_body }}",
    icon: "/static/images/logo/favicon.png",
  };

  new Notification(title, options);
}
</script>
{% if messages %}
<script>
document.addEventListener("DOMContentLoaded", () => {
  {% for message in messages %}
    {% if message.tags == "success" %}
      requestAndSendNotification();
    {% endif %}
  {% endfor %}
});
</script>
{% endif %}
{% endblock content%}
